@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

main {
  /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  min-height: 100vh;
  /* Habilita Flexbox */
  display: flex;
  /* Alinea los hijos verticalmente */
  flex-direction: column;
  /* Esto hace que el contenido principal ocupe todo el espacio disponible */
  flex-grow: 1;
  padding-bottom: 80px;
}

body {
  padding-bottom: 70px;
}
/* logo navbar */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
}

.logo i {
  font-size: 45px;
  color: rgb(236, 107, 60);
}

.logo .accent {
  color: rgb(236, 107, 60);
}
/* ------------------ */

/* menu */
.btn-naranja-outline {
  background-color: #1a1a1a; /* fondo oscuro */
  border: 2px solid rgb(236, 107, 60);
  color: rgb(236, 107, 60);
  transition: all 0.3s ease;
}

.btn-naranja-outline:hover {
  background-color: rgb(236, 107, 60);
  color: #fff;
}

/* componente inicio.jsx */
.carousel-img {
  height: clamp(200px, 35vw, 320px);
  object-fit: cover;
  .carousel-item {
    position: relative;
  }
}

.carousel-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
/* 
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  ); */
}
.carousel-caption {
  bottom: 20px;
  text-align: left;
}

.carousel-caption h3 {
  font-weight: 700;
}

.carousel-caption p {
  font-size: 14px;
}

/* -------------------------- */

/* grilla cards inicio.jsx */


/*CardReceta.jsx */
.custom-card-receta {
  border: 1px solid #e9ecef;
  background-color: #1a1a1a;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.25s ease;
}

.custom-card-receta:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  border-color: #ffd8b3;
}
.img-receta-card {
  height: 180px;
  object-fit: cover;
}

.bg-naranja-subtle {
  background-color: #fff1e6;
}

.text-naranja-emphasis {
  color: #d46a00;
}

.btn-ver-receta {
  border: 2px solid #ff7a00;
  color: #ff7a00;
  background: transparent;
  border-radius: 10px;
  padding: 6px 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.btn-ver-receta:hover {
  background: #ff7a00;
  color: white;
}
/* --------------------- */

/* ****** footer ****** */
.bottom-navbar {
  height: 65px;
  border-top: 1px solid #ddd;
}

.bottom-navbar .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #d4cccc;
}

.bottom-navbar i {
  font-size: 20px;
}

.bottom-navbar .nav-item.active,
.bottom-navbar .nav-item:hover {
  color: rgb(236, 107, 60); 
}

.nav-link.active {
  color: rgb(236, 107, 60);
}
