@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

main {
  /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  min-height: 100vh;
  /* Habilita Flexbox */
  display: flex;
  /* Alinea los hijos verticalmente */
  flex-direction: column;
  /* Esto hace que el contenido principal ocupe todo el espacio disponible */
  flex-grow: 1;
  padding-bottom: 80px;
}

/* logo navbar */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: #ffffff;
}

.logo i {
  font-size: 45px;
  color: rgb(236, 107, 60);
}

.logo .accent {
  color: rgb(236, 107, 60);
}
/* ------------------ */

/* menu */
.btn-naranja-outline {
  background-color: #1a1a1a; /* fondo oscuro */
  border: 2px solid rgb(236, 107, 60);
  color: rgb(236, 107, 60);
  transition: all 0.3s ease;
}

.btn-naranja-outline:hover {
  background-color: rgb(236, 107, 60);
  color: #fff;
}

/* componente inicio.jsx */
.carousel-img {
  height: clamp(200px, 35vw, 320px);
  object-fit: cover;
  .carousel-item {
    position: relative;
  }
}

.carousel-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
/* 
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  ); */
}
.carousel-caption {
  bottom: 20px;
  text-align: left;
}

.carousel-caption h3 {
  font-weight: 700;
}

.carousel-caption p {
  font-size: 14px;
}

/* -------------------------- */

/* footer */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #333;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
  transition: 0.3s;
}

.nav-item i {
  font-size: 20px;
  margin-bottom: 3px;
}

.nav-item:hover {
  color: rgb(236, 107, 60) !important;
}

.nav-item.active {
  color: rgb(236, 107, 60) !important;
}

.bottom-nav .nav-link {
  color: rgb(236, 107, 60) !important;
}

.bottom-nav .nav-link i {
  color: rgb(236, 107, 60) !important;
}

/* grilla cards inicio.jsx */
.custom-card {
  border-radius: 25px; /*bordes redondeados */
  overflow: hidden; /* la imagen respeta los bordes */
  background-color: #1a1a1a; /* fondo oscuro */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* sombra sutil */
  transition: transform 0.2s;
}

.custom-card:hover {
  transform: translateY(-5px); /* efecto flotante al pasar el mouse */
}

/* Sombra luminosa para los recuadros */
.shadow-light {
  box-shadow: 0 0 10px rgba(223, 106, 10, 0.5);
  /* box-shadow: 0 0 10px rgba(240, 235, 217, 0.5); */

  border-radius: 8px;
  width: 100%;
}

/* Vista previa de la imagen de la receta */
.imagenReceta {
  max-height: 120px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px dashed #ccc; /* borde punteado */
}
